# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.env
.venv
netsuite_venv

# Logs
logs
*.log

# Git and other metadata
.git
.gitignore

# Docker
Dockerfile
docker-compose.override.yml

# IDE files
.vscode
.idea
