.env
/logs/extraction
/logs/dag_id=netsuite_customer_payment_dag
/logs/dag_id=netsuite_custmer_extraction
/logs/gag_processor
logs/extraction
logs/ingestion
logs
logs/dag_processor_manager
/netsuite_venv