.env
/logs/extraction
/logs/dag_id=netsuite_extraction_dag
/logs/dag_id=netsuite_pipeline
/logs/gag_processor
logs/extraction
logs/ingestion
logs/scheduler
# logs
logs/dag_processor_manager
/netsuite_venv
*.pyc
__pycache__/
delete_file.py